main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

h1 {
    color: bisque;
    font-size: 2em;
}

section {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    background-color: rgba(250, 250, 250, 0.5);
    margin: 5px;
}

div {
    width: 100%;
    display: flex;
    justify-content: center;
}

fieldset {
    margin: 1px;
    border-radius: 5px;
}

button {
    margin: 3px;
    display: inline-block;
    width: 30%;
}
